<!--<p>form works!</p>-->
<!--{{cliente}}-->

<br><br>
<form class="container">
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" placeholder="Digite seu nome" [(ngModel)]="cliente.nome" name="nome">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Digite seu email" [(ngModel)]="cliente.email" name="email">
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label for="senha">Senha</label>
            <input type="password" class="form-control" id="senha" placeholder="Digite sua senha" [(ngModel)]="cliente.senha" name="senha">
        </div>
        <div class="form-group col-md-6">
            <label for="csenha">Confirmação de Senha</label>
            <input type="password" class="form-control" id="csenha" placeholder="Digite a confirmação de sua senha" [(ngModel)]="cliente.senha" name="csenha">
        </div>
    </div>
    <div class="form-group col-md-2">
        <label for="cep">Cep</label>
        <input type="text" class="form-control" placeholder="Digite o CEP" id="cep" [(ngModel)]="cliente.cep" name="cep">
    </div>
    <div class="form-group">
        <label for="endereco">Endereço</label>
        <input type="text" class="form-control" id="endereco" placeholder="Digite o endereço" [(ngModel)]="cliente.endereco" name="endereco">
    </div>
    <div class="form-group">
        <label for="numero">Número</label>
        <input type="text" class="form-control" id="numero" placeholder="Digite o número" [(ngModel)]="cliente.numero" name="numero">
    </div>
    <div class="form-group">
        <label for="bairro">Bairro</label>
        <input type="text" class="form-control" id="bairro" placeholder="Digite o bairro" [(ngModel)]="cliente.bairro" name="bairro">
    </div>
    <div class="row">
        <div class="form-group col-md-8">
            <label for="cidade">Cidade</label>
            <input type="text" class="form-control" id="cidade" placeholder="Digite a sua cidade" [(ngModel)]="cliente.cidade" name="cidade">
        </div>
        <div class="form-group col-md-4">
            <label for="estado">Estado</label>
            <select id="estado" class="form-control" [(ngModel)]="cliente.estado" name="estado">
              <option selected >[Selecione]</option>
              <option value="AC">Acre</option>
              <option value="AL">Alagoas</option>
              <option value="AP">Amapá</option>
              <option value="AM">Amazonas</option>
              <option value="BA">Bahia</option>
              <option value="CE">Ceará</option>
              <option value="DF">Distrito Federal</option>
              <option value="ES">Espírito Santo</option>
              <option value="GO">Goiás</option>
              <option value="MA">Maranhão</option>
              <option value="MT">Mato Grosso</option>
              <option value="MS">Mato Grosso do Sul</option>
              <option value="MG">Minas Gerais</option>
              <option value="PA">Pará</option>
              <option value="PB">Paraíba</option>
              <option value="PR">Paraná</option>
              <option value="PE">Pernambuco</option>
              <option value="PI">Piauí</option>
              <option value="RJ">Rio de Janeiro</option>
              <option value="RN">Rio Grande do Norte</option>
              <option value="RS">Rio Grande do Sul</option>
              <option value="RO">Rondônia</option>
              <option value="RR">Roraima</option>
              <option value="SC">Santa Catarina</option>
              <option value="SP">São Paulo</option>
              <option value="SE">Sergipe</option>
              <option value="TO">Tocantins</option>
              <option value="EX">Estrangeiro</option>
          </select>
        </div>
    </div>
    <hr>
    <button type="submit" (click)="mostrarModelo()" class="btn btn-primary">Cadastrar</button>
</form>